<div class="flex flex-wrap">
  <div class="flex w-full mb-8 text-sm lg:w-auto lg:mb-0">
    <div class="mr-10">&copy; {{ now.Year }} The Carpentries</div>
    <a class="hover:underline" href="/privacy/">Privacy Policy</a>
  </div>
  <div class="flex flex-wrap items-center lg:justify-end w-full lg:flex-1 gap-x-6 [&>a>img]:relative hover:[&>a>img]:bottom-[3px]">
    <span class="w-full mb-3 font-extrabold lg:w-auto md:mb-0 md:font-sm">Follow Us</span>
    <a aria-label="Slack" href="https://swc-slack-invite.herokuapp.com/"><img alt="Slack" src="/slack-logo.svg"></a>
    <a aria-label="Twitter" href="https://twitter.com/thecarpentries"><img alt="Twitter" src="/twitter-logo.svg"></a>
    <a aria-label="Facebook" href="https://www.facebook.com/carpentries/"><img alt="Facebook" src="/facebook-logo.svg"></a>
    <a aria-label="YouTube" href="https://www.youtube.com/thecarpentries"><img alt="YouTube" src="/youtube-logo.svg"></a>
    <a aria-label="LinkedIn" href="https://www.linkedin.com/company/the-carpentries/"><img alt="LinkedIn" src="/linkedin-logo.svg"></a>
    <a aria-label="Github" href="https://github.com/carpentries"><img alt="Github" src="/github-logo.svg"></a>

    <a class="px-4 py-2 mx-1 font-semibold border rounded-full text-offwhite hover:text-gray-dark hover:bg-offwhite border-offwhite" href="#">Donate</a>
  </div>
</div>