<header class="">
  <div class="text-white bg-blue-mid" x-data="{ open: false }">
    <div class="max-w-5xl mx-auto">
      <div class="flex flex-col items-center md:justify-start md:flex-row" :class="open ? 'h-auto' : 'h-10'">
        {{ range site.Menus.top }}
          {{ $active := false }}
          {{ $class := printf "px-4 py-[10px] font-bold text-sm hover:underline md:first:bg-gray-light md:first:text-blue-mid %s" (cond $active "bg-white text-blue-900" "default") }}
          {{ $aria_current := "page" }}
          {{- if or ($.IsMenuCurrent .Menu .) ($.HasMenuCurrent .Menu .) }}
            {{ $active = true }}
          {{- end }}
          <a href="{{ .URL }}" aria-current="{{ cond $active true "page" }}" class="{{ $class }}" x-on:click="open = ! open">{{ .Name }}</a>
        {{ end }}
      </div>
    </div>
  </div>

  <div class="py-4 bg-gray-light" x-data="{ mobileOpen: false }">
    <div class="container relative flex px-5 mx-auto">
      <div class="w-40"><img width="156" height="33" src="/carpentries-logo.svg" alt="The Carpentries"></div>
      <div class="flex justify-end flex-1 lg:hidden">
        <button x-on:click="mobileOpen = ! mobileOpen">Menu</button>
      </div>
      <div class="absolute max-w-[250px] w-full right-0 top-10 lg:top-0 lg:!flex flex-col justify-end flex-1 lg:max-w-5xl px-6 py-3 mx-auto text-sm font-bold bg-white shadow-md lg:shadow-none lg:py-0 lg:pl-10 lg:items-center lg:bg-transparent lg:relative lg:flex-row" x-show="mobileOpen">
        {{ range site.Menus.main }}
            {{ $active := false }}
            {{ $class := printf "pr-8 hover:underline mb-4 lg:mb-0 inline-block %s" (cond $active "bg-white text-blue-900" "default") }}
            {{ $aria_current := "page" }}
            {{- if or ($.IsMenuCurrent .Menu .) ($.HasMenuCurrent .Menu .) }}
              {{ $active = true }}
            {{- end }}
            {{ if eq .Params.style "button" }}
              {{ $class = "inline-block py-2 px-5 text-blue-500 border border-blue-900 rounded-full [&>span]:pr-0" }}
            {{ end }}
            <div class="relative group">
              <a href="{{ .URL }}" aria-current="{{ cond $active true "page" }}" class="{{ $class }} {{ with .Children }}menu-has-children{{ end }}"><span class="relative pr-4"></s>{{ .Name }}</span></a>
              {{ with .Children }}
                {{ partial "submenu" . }}
              {{ end }}
            </div>
          {{ end }}
      </div>
    </div>
  </div>
</header>