{{/*
  blocks/hero

  @author @AdamChlan @regisphilibert

  @context Map (.)
    Page (.Page)
    Map (.block)
      String (.title)
      String[] (.stats)
      Map (.cta)
        String (.copy)
        String (.url)
*/}}
{{ with .block }}
<div class="py-16 bg-offwhite">
  <div class="container mx-auto">
    {{ with .title }}
    <h2 class="text-[1.75rem] leading-[2.125rem] text-center">{{ . }}</h2>
    {{ end }}
    {{ with .stats }}
    <div class="grid max-w-4xl gap-3 mx-auto my-8 md:grid-cols-4">
      {{ range . }}
      <div class="stat">
        {{ $.Page.RenderString . }}
      </div>
      {{ end }}
    </div>
    {{ end }}
    {{ with $cta := .cta }}
    <div class="flex justify-center">
      {{ with .url }}
      <a class="btn btn-outline" href="{{ . }}">{{ $cta.copy }}</a>
      {{ end }}
    </div>
    {{ end }}
  </div>
  {{ end }}