{{ define "main" }}
  <div class="container px-5 mx-auto">
    {{ partial "breadcrumbs" . }}
    <h1 class="text-5xl font-bold">{{ .Title }}</h1>
    {{ partial "subnav" . }}

    <div class="relative grid gap-8 md:grid-cols-12">
      <div class="col-span-8 pb-16 pro">
          {{ with partial "func/GetUpcomingWorkshops" "GetUpcomingWorkshops" }}
          {{ range . }}
            {{ partial "workshop/card" . }}
          {{ end }}
        {{ end }}
      </div>
      <div class="relative col-span-4">
        <div class="sticky top-10">
          {{ .Render "sidebar" }}
        </div>
      </div>
    </div>

  </div>

{{ end }}
