{{ define "add_to_head" }}
  {{ with resources.Get "/js/list.min.js" }}
    <script defer src="{{ .RelPermalink }}"></script>
  {{ end }}
  {{ with resources.Get "/js/filters.js" }}
    <script defer src="{{ .RelPermalink }}"></script>
  {{ end }}
{{ end }}
{{ define "main" }}
  {{ $workshops := slice }}
  {{ $filters := dict }}

  {{ with .Params.data_source }}
    {{ $workshops = partialCached "func/GetWorkshops" . . }}
    {{ $filters = partialCached "func/GetWorkshopsFilters" $workshops . }}
  {{ end }}
  <div class="container px-5 mx-auto">
    {{ partial "breadcrumbs" . }}
    <h1 class="text-5xl font-bold">{{ .Title }}</h1>
    {{ partial "subnav" . }}
    {{ $countries := slice }}
    <div id="filter" class="relative grid gap-8 md:grid-cols-12">
      <div class="col-span-8 pb-16 pro">
        <div class="filtered">
          {{ range $workshops }}
            {{ partial "workshop/card" . }}
          {{ end }}
        </div>
        <ul class="pagination flex justify-center text-2xl"></ul>
      </div>
      <div class="relative col-span-4">
        <div class="sticky top-10">
          {{ partial "filters" $filters }}
          {{ .Render "sidebar" }}
        </div>
      </div>
    </div>


  </div>

{{ end }}
