<script>
	window.addEventListener('DOMContentLoaded', () => {
		const observerForTableOfContentActiveState = new IntersectionObserver(entries => {
			entries.forEach(entry => {
				const id = entry.target.getAttribute('id');

				if (entry.intersectionRatio > 0) {
					clearActiveStatesInTableOfContents();
					document.querySelector(`nav li a[href="#${id}"]`).parentElement.classList.add('active');
				}
			});
		});
		document.querySelectorAll('h2[id]').forEach((section) => {
			observerForTableOfContentActiveState.observe(section);
		});

	});

	function clearActiveStatesInTableOfContents() {
		document.querySelectorAll('nav li').forEach((section) => {
			section.classList.remove('active');
		});
	}
</script>

{{ with $.TableOfContents }}
<style>
  #TableOfContents li{
    margin-bottom: .5rem;
  }
  #TableOfContents li a{
    font-weight: bold;
    text-decoration: underline;
    font-size: 14px;
  }
</style>
<div id="table">
  <h2 class="mb-5 text-sm font-semibold">Table of Contents</h2>
  {{ . }}
</div>
{{ end }}