{{ $s := newScratch }}
{{ $s.Set "data" . }}

{{ $s.SetInMap "data" "instructors" slice }}
{{ with .instructors }}
  {{ $s.SetInMap "data" "instructors" (split . ",") }}
{{ end }}
{{ $s.SetInMap "data" "helpers" slice }}
{{ with .helpers }}
  {{ $s.SetInMap "data" "instructors" (split . ",") }}
{{ end }}
{{ $start_date := "" }}
{{ $end_date := "" }}
{{ with .start_date }}
  {{ $start_date = time.Format "Jan 02 2006" (time .) }}
  {{ $string_date := $start_date }}
  {{ with $.end_date }}
    {{ $start_date = time.Format "Jan 02" (time $.start_date)  }}
    {{ $end_date = time.Format "Jan 02 2006" (time .) }}
    {{ $string_date = delimit (slice $start_date $end_date) " - " }}
  {{ end }}
  {{ $s.SetInMap "data" "string_date" $string_date }}
{{ end }}
{{ $tags := slice }}
{{ $tagsOutput := slice }}
{{ with .tag_name }}
  {{ $tags = split . "," }}
  {{ $s.SetInMap "data" "tags" . }}
  {{ if in $tags "swc" }}
    {{ $s.SetInMap "data" "type" (dict
      "key" "software"
      "name" "Software Carpentry"
    ) }}
  {{ else if in $tags "dc" }}
    {{ $s.SetInMap "data" "type" (dict
      "key" "data"
      "name" "Data Carpentry"
    ) }}
  {{ else if in $tags "lc" }}
    {{ $s.SetInMap "data" "type" (dict
      "key" "library"
      "name" "Library Carpentry"
    ) }}
  {{ else if in $tags "Circuits" }}
    {{ $s.SetInMap "data" "type" (dict
      "key" "carpentries"
      "name" "The Carpentries"
    ) }}
  {{ else }}
  {{ $s.SetInMap "data" "type" (dict
    "key" "cp-unknown"
    "name" "Unknown"
  ) }}
  {{ end }}

  {{ if in $tags "in-person" }}
    {{ $s.SetInMap "data" "meeting" (dict
      "key" "in-person"
      "name" "In Person"
    ) }}
  {{ else if in $tags "online" }}
    {{ $s.SetInMap "data" "meeting" (dict
      "key" "online"
      "name" "Online"
    ) }}
  {{ end }}
{{ end }}
{{ $s.SetInMap "data" "country" dict }}
{{ with $code := .country }}
  {{ with where site.Data.country_codes "iso2c" "=" . }}
    {{ with index . 0 }}
      {{ $s.SetInMap "data" "country" (dict
        "key" (lower $code)
        "name" .country_name
      ) }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $s.Get "data" }}