{{/*
Available data (represented in yaml) and processed through `func/ParseWorkshop`
---
url: https://peranti.github.io/2023-03-20-mtu-online/
venue: Michigan Technological University
start_date: 2023-20-24
end_date: "2023-03-24
string_date: Mar 20 - Mar 24 2023
instructors:
- Pradeep Eranti
- Christian Ayala
helpers:
- Isaac Bigcraft
- Zenia Sidorov
- Vinay Palakurthy
country:
  key: de
  name: Germany
type:
  key: software
  name: Software Carpentry
curriculum:
  key: swc-reproducible-science
  name: Software Carpentry (Shell, Git, Plotting and Programming in Python)
meeting:
  key: in-person
  name: In Person
---
*/}}
<div class="p-8 mb-5 border">
  <div class="flex mb-4 -mx-2">
    {{ with .type }}
    <div class="flex items-center mr-2"> <img class="mr-1" src="{{ .image }}" alt=""> <span class="text-[0.625rem] uppercase">{{ .name }}</span></div>
    {{ end }}
    {{ with .country }}
    <div class="flex items-center mr-2"> <img class="mr-1" src="/flags/{{ .image }}.png" alt=""> <span class="text-[0.625rem] uppercase">{{ .name }}</span></div>
    {{ end }}
    {{ with .meeting }}
      <div class="flex items-center mr-2"> <img class="mr-1" src="{{ .image }}" alt=""> <span class="text-[0.625rem] uppercase">{{ .name }}</span></div>
    {{ end }}
  </div>
  {{ with $venue := .venue }}
  <h3 class="text-base md:text-[1.75rem] leading-[2.125rem] font-semibold">
    {{ with $.url }}
      <a class="underline hover:text-blue-hover text-gray-dark" href="{{ . }}">{{ $venue }}</a>
    {{ else }}
      <span class="text-gray-dark">{{ $venue }}</span>
    {{ end }}
  </h3>
  {{ end }}
  {{ with .curriculum }}
    {{ with .name }}
      <div class="mb-5 text-lg font-semibold text-gray-mid">{{ . }}</div>
    {{ end }}
  {{ end }}
  {{ with .instructors }}
    <div class="mb-2 text-xs">
      <strong class="font-bold">Instructors</strong>: {{ delimit . ", " }}
    </div>
  {{ end }}
  {{ with .helpers }}
    <div class="mb-4 text-xs">
      <strong class="font-bold">Helpers</strong>: {{ delimit . ", " }}
    </div>
  {{ end }}

  {{ with .string_date }}
    <div class="text-sm font-semibold text-gray-mid">{{ . }}</div>
  {{ end }}
</div>