{{/*
Available data (represented in yaml) and processed through `func/ParseWorkshop`
---
url: https://peranti.github.io/2023-03-20-mtu-online/
venue: Michigan Technological University
start_date: 2023-20-24
end_date: "2023-03-24
string_date: Mar 20 - Mar 24 2023
instructors:
- Pradeep Eranti
- Christian Ayala
helpers:
- Isaac Bigcraft
- Zenia Sidorov
- Vinay Palakurthy
country:
  key: de
  name: Germany
type:
  key: software
  name: Software Carpentry
curriculum:
  key: swc-reproducible-science
  name: Software Carpentry (Shell, Git, Plotting and Programming in Python)
meeting:
  key: in-person
  name: In Person
---
*/}}
<div class="p-8 mb-5 border">
  <div class="flex mb-4 -mx-2">
    {{ with .type }}
      <div class="px-2 mx-2 border"> <span class="text-xs">icon for {{ .key }}</span> {{ .name }}</div>
    {{ end }}
    {{ with .country }}
      <div class="px-2 mx-2 border"> <span class="text-xs">flag for {{ .key }}</span> {{ .name }}</div>
    {{ end }}
    {{ with .meeting }}
      <div class="px-2 mx-2 border"> <span class="text-xs">icon for {{ .key }}</span> {{ .name }}</div>
    {{ end }}
  </div>
  {{ with $venue := .venue }}
  <h3 class="text-xl font-bold">
    {{ with $.url }}
      <a class="underline" href="{{ . }}">{{ $venue }}</a>
    {{ else }}
      <span>{{ $venue }}</span>
    {{ end }}
  </h3>
  {{ end }}
  {{ with .curriculum }}
    {{ with .name }}
      {{ . }}
    {{ end }}
  {{ end }}
  {{ with .instructors }}
    <div class="mb-4">
      <strong class="font-bold">Instructors</strong>: {{ delimit . ", " }}
    </div>
  {{ end }}
  {{ with .helpers }}
    <div class="mb-4">
      <strong class="font-bold">Helpers</strong>: {{ delimit . ", " }}
    </div>
  {{ end }}

  {{ with .string_date }}
    <div class="font-bold">{{ . }}</div>
  {{ end }}
</div>